.header {
    text-align: center;
    background-image: linear-gradient(145deg, #2222eb, cyan);
}
.main {
    display: flex;
}
.courses {
    width: 80%;
    margin: 5px;
    border-right: 1px solid lightgray;
}
.cart {
    width: 20%;
    padding: 5px;
}
